<html>
<div class="container">
    <h3>Dear {{ user.username }}</h3>

    <p>Welcome to Flasky!</p>

    <p>To confirm your account please click the following link</p>
    <p>
        <a href="{{ url_for('auth.confirm',token=token,_external=True)}}"><button class="confirm">Confirm
                Account</button></a>
    </p>

    {{ url_for('auth.confirm',token=token,_external=True) }}

    <p>Sincerely,</p>

    <p>The Flasky Team</p>

    Note: replies to this email address are not monitored
</div>

<style>
    .container {
        width: 80%;
        margin: auto;
    }

    .confirm {
        background-color: brown;
        border: none;
        color: white;
        text-transform: uppercase;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 24px;
    }
</style>

</html>