<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    {% block navbar %}
    <nav id="mainNav" class="navbar navbar-inverse" id="navibar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Flasky</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="nav-menu" class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        Home
                    </a></li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.user',username=current_user.username)}}">Profile</a>
                    </li>
                    {% if current_user.can(Permission.MODERATE) %}
                        <li><a href="{{ url_for('main.moderate') }}">Moderate Comments</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sign Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
                {% if current_user.is_authenticated %}
                <div class="btn-group pull-right" id="nav-options">
                    <button type="button" class="btn btn-default dropdown-toggle thumbnail" data-toggle="dropdown-menu" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ current_user.gravatar(256) }}" alt="">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Setting</a></li>
                        <li class="dividor" role="separator"></li>
                        <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                  </form>
            </div>
        </div>
    </nav>
    {% endblock navbar %}

    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% block page_content %}
        {% endblock %}
    </div>
    {% endblock content %}
    <footer>

    </footer>
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.js')}}"></script>

</body>

</html>