{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}
{% block title %} Flasky - Home Page {% endblock %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div id="profile" class="col-md-3 hidden-sm hidden-xs">
            <h3>What is trending</h3>
            <form>
                <div class="form-group">
                    <input type="text" placeholder="What is going on" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Search">
                </div>
            </form>
        </div>
        <div id="main" class="col-sm-12 col-md-6">
            <div class="container-fluid">
                {% if current_user.can(Permission.WRITE) %}
                <div class="card" id="main-card">
                    <form method="POST" action="" id="new-post">
                        <div class="input-group">
                            {{form.body(class='form-control',id='post-form')}}
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                        </div>
                    </form>
                </div>
                {% endif %}
                {% include '_posts.html' %}
                <div>
                    <div style="text-align: center;">
                        {{ macros.pagination_widget(pagination, '.home') }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="right-content" class="col-md-3">
            <h1>Hello world this is nathan</h1>
            <h1>Hello world this is nathan</h1>
            <h1>Hello world this is nathan</h1>
            <h1>Hello world this is nathan</h1>
        </div>
    </div>
</div>