{% extends "base.html" %}
{% block title %} Flasky -Page Not Found {% endblock %}

{% block page_content %}
<div class="page-header">
  <div class="row">
      <div class="col-md-3">
          <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
      </div>
      <div class="col-md-9">
        <h1>{{user.username.title()}}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}{% endif %}
            {% if user.location %}
                From <a href="https://maps.google.com/?q={{user.location }}">{{user.location}}</a>
            {% endif %}
    
        </p>
        {% endif %}
    
        {% if current_user.is_adiministrator %}
        <p><a href="mailto:{{user.email }}">{{user.email}}</a></p>
        <a class="btn btn-danger" href="{{url_for('main.edit_profile',id=user.id) }}">Edit Profile [Admin]</a>
        {% endif %}
    
        {% if user.about_me %}
            <p>{{user.about_me }}</p>
        {% endif %}
    
        <p>
            Member since {{user.member_since }}<br>
            Last seen {{user.last_seen }}
        </p>
    
    
        {% if user == current_user %}
        <a href="{{url_for('main.edit_profile')}}" class="btn btn-default">Edit profile</a>
        {% endif %}
      </div>
      <h3>Posts by {{user.username}}</h3>
      {% inlcude '_posts.html' %}
  </div>
</div>

{% endblock %}
